body { 
  font-family: Helvetica, san-serif;
}
.ui-block-a, .ui-block-b {

}
#flipswitchWrapper .ui-flipswitch {
    width:210px;
    height:30px;
}
#flipswitchWrapper .ui-flipswitch-active {
    padding-left:0px;
}
#flipswitchWrapper .ui-flipswitch .ui-flipswitch-on, #flipswitchWrapper .ui-flipswitch.ui-flipswitch-active .ui-flipswitch-on {
    width:58px;
    height:28px;
    text-indent: -8em;
}
#flipswitchWrapper .ui-flipswitch.ui-flipswitch-active .ui-flipswitch-on {
    padding-top:0px;
    margin-left:150px;
    text-indent: -7em;
}
#hstatus, #btn_con {
  padding-left: 10px; 
}
.pla {
  padding-left: 20px;
}
.plb {
  padding-left: 10px;
}
.hicon {
  width: 32px;
  height: 28px;
  padding: 0px;
  margin: 0px;
}
.btn {
  width: 40px;
  height: 16px;
  margin 5px;
}
.btn_tap {
  background-color: lightsteelblue !important; 
}
.temp {
  width: 100%;
  height: 26px;
}
